name: Create Labels

on:
  workflow_dispatch:

jobs:
  labels:
    name: Sync labels
    runs-on: ubuntu-latest
    permissions:
      issues: write
    steps:
      - name: Create labels
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh label create dependencies --color 0075ca --description 'Dependency updates' --force
          gh label create ci --color e4e669 --description 'CI/CD changes' --force
